* text=auto

.gitattributes text eol=lf
.gitignore text eol=lf
*.json text eol=lf
*.lean text eol=lf
*.md text eol=lf
*.patch text eol=lf
*.py text eol=lf
*.toml text eol=lf
*.txt text eol=lf
*.tsv text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
